In [7]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [11]:
import pandas as pd

from src.data.preprocess import preprocess

In [9]:
preprocess(
    "data/genome/gff_file.gff",
    "data/genome/fasta_file.fsa",
    "data/embeddings",
    "data/waern_2013",
    "data/samples.json",
    "data/processed",
    500,
)

100%|██████████| 17/17 [02:50<00:00, 10.01s/it]

Querying BioMart for paralogs of 6705 genes...

In [12]:
df_summary = pd.read_csv("data/processed/summary.csv")
df_summary.head()

,gene,coordinates,chromosome,strand,paralog_group
0,YAL001C,"[(147594, 151006), (151097, 151166)]",chrI,-,YAL001C
1,YAL002W,"[(143707, 147531)]",chrI,+,YAL002W
2,YAL003W,"[(142174, 142253), (142620, 143160)]",chrI,+,YAL003W
3,YAL004W,"[(140760, 141407)]",chrI,+,YAL004W
4,YAL005C,"[(139503, 141431)]",chrI,-,YKL073W

In [13]:
df_summary["paralog_group"].value_counts()

paralog_group
YIL011W      29
YPR202W      29
YDL247W      27
YGR257C      24
YDL031W      23
             ..
YAL025C       1
YAL034C-B     1
YAL034W-A     1
YAL037C-A     1
YAL037C-B     1
Name: count, Length: 4956, dtype: int64